[submodule "user/external/fastfetch"]
	path = user/external/apps/fastfetch
	url = https://github.com/fQwQf/fastfetch.git
	branch = dev
[submodule "user/external/git"]
	path = user/external/apps/git
	url = https://github.com/git/git.git
[submodule "user/external/lvgl"]
	path = user/external/gui/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "user/external/breeze"]
	path = user/external/gui/breeze
	url = https://invent.kde.org/plasma/breeze.git
[submodule "user/external/musl-cross-make"]
	path = user/external/toolchain/musl-cross-make
	url = https://github.com/richfelker/musl-cross-make.git
[submodule "user/external/vim"]
	path = user/external/apps/vim
	url = https://github.com/vim/vim.git
[submodule "user/external/zlib"]
	path = user/external/libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "user/external/binutils"]
	path = user/external/toolchain/binutils
	url = https://github.com/RTEMS/sourceware-mirror-binutils-gdb.git
[submodule "user/external/wayland"]
	path = user/external/gui/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "user/external/wayland-protocols"]
	path = user/external/gui/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "user/external/pixman"]
	path = user/external/gui/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "user/external/libxkbcommon"]
	path = user/external/gui/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "user/external/libevdev"]
	path = user/external/gui/libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
[submodule "user/external/libinput"]
	path = user/external/gui/libinput
	url = https://gitlab.freedesktop.org/libinput/libinput.git
[submodule "user/external/weston"]
	path = user/external/gui/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "user/external/xkeyboard-config"]
	path = user/external/gui/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "user/external/libdrm"]
	path = user/external/gui/libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "user/external/ffmpeg"]
	path = user/external/libs/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "user/external/gui/mesa"]
	path = user/external/gui/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
