*.o
*.a
*.img
*.log
*.bin
*.elf
*.aux
*.bcf
*.nav
*.run.xml
*.snm
*.toc
*.vrb
out.txt
test-results/
test-results.csv
target/
user/build/
user/external/musl/build-*/
user/external/musl/build-*-nommu/
user/external/musl/dist/
user/external/sbase/id
user/external/musl/build-*/build/
.clangd
.vscode/
kernel-rv
kernel-la
.DS_Store
.kernel-build/
.tmp/
*.dtb
.eval-state
*.orig
*.rej
__pycache__/
.env
/slides.pdf
/WHU-Beamer.sty
